.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin {
    animation: spin 1s linear infinite;
    font-size: 80px;
    color: #00abe4;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
